@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
