@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-slate-950 text-slate-200;
  }

  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    @apply text-white;
  }

  .dark .text-slate-500,
  .dark .text-gray-500 {
    @apply text-slate-400;
  }
}
